@font-face {
   font-family: 'DIN Pro Condensed Medium';
   src: url('DIN Pro Condensed Medium/font.ttf');
}
@font-face {
   font-family: 'DIN Pro Condensed Regular';
   src: url('DIN Pro Condensed Regular/font.ttf');
}
@font-face {
   font-family: 'DIN Pro Condensed Bold Italic';
   src: url('DIN Pro Condensed Bold Italic/font.ttf');
}
